.linearGradient {
  background-image: linear-gradient(to left, #ffeb9c 30% , #545454 40%,#545454 30%,#ffeb9c 50%,#ffeb9c 30%);
 height:100vh
}

background: rgb(255, 235, 156);
  background: linear-gradient(
    282deg,
    rgba(255, 235, 156, 1) 40%,
    rgba(255, 255, 255, 1) 40%