*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  line-height: 1.5;
  width: 100%;
}

@font-face {
  font-family: 'league_spartan';
  src: url('./fonts/league-spartan/leaguespartan-bold-webfont.woff2')
      format('woff2'),
    url('./fonts/league-spartan/leaguespartan-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.3;
}

.navbar {
  background-color: #ffeb9c;
}

.navbar-brand {
  color: #fff;
  font-size: 2.2rem;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.navbar-brand:hover {
  color: #fff;
}

.nav-link {
  color: #545454;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}

.nav-link:hover {
  color: #a1a1a1;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  color: #ffffb6;
  box-shadow: 0 0 0 0.25rem;
}

.hero {
  background-color: #ffeb9c;

  /* width: 100vw; */
}

.hero-text {
  font-size: 8vw;
  letter-spacing: -5px;
  font-family: 'league_spartan';
  color: #fff;
  margin-top: 0;
  margin-bottom: 2rem;
}

.hero-tag-line {
  font-family: 'Sanchez', serif;
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 1.3;
  color: #fff;
}

.responsive {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 769px) {
  .hero {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 10vw;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .hero-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero-tag-line {
    font-size: 1.2rem;
  }
  .navbar-brand {
    font-size: 1.9em;
  }
  .header-image-container {
    margin-top: 0 !important;
  }
  .responsive {
    width: 90%;
  }
}

@media screen and (max-width: 575px) {
  /* .hero{
    height: 91vh;
  } */
  .hero-text {
    font-size: 14vw;
  }
  .navbar-brand {
    font-size: 1.6rem;
  }
  .header-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffeb9c;
    margin-top: 0 !important;
  }

  .hero-tag-line {
    font-size: 1rem;
  }

  .responsive {
    width: 70%;
  }
}

/* Services Container */

.services-container {
  background: rgb(255, 235, 156);
  background: linear-gradient(
    326deg,
    rgba(255, 235, 156, 1) 32%,
    rgba(255, 255, 255, 1) 32%
  );
}

.service-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  color: #545454;
}

.service-tag-line {
  font-size: 1.7rem;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  line-height: 1.4;
  color: #545454;
}

.services-col-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.button-col-one {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.button-col-two {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.button-col-three {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.btn-service {
  margin: 30px;
  outline: 0;
  background: rgb(255, 156, 139);
  color: #fff;
  font-family: 'Inter';
  font-size: 1.1rem;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  transition: transform 0.5s;
}

.btn-service:hover {
  transform: scale(1.1);
  color: #fff;
}

@media screen and (min-width: 992px) {
  .services-container {
    height: 100vh;
  }
  .services-col-two {
    display: flex;
    justify-content: center;
  }
  .nav-link::after {
    content: ' |';
  }
}

@media screen and (max-width: 1001px) {
  .service-image {
    max-width: 300px;
    margin: auto;
  }
  .services-col-two {
    display: flex;
    justify-content: center;
  }

  .btn-service {
    margin: 5px;
    width: 90%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (max-width: 520px) {
  .btn-service {
    font-size: 1rem;
  }
}

@media screen and (max-width: 487px) {
  .services-col-one {
    display: flex;
    flex-direction: column;
  }

  .btn-service {
    margin: 5px;
    width: 300px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
  }
}

/* Look Container */
.look-container {
  background: linear-gradient(
    41deg,
    #fff 25%,
    #ffeb9c 18%,
    #ffeb9c 36%,
    #fff 22%
  );
}

.look-svg {
  transform: scaleX(-1);
  margin: 0;
  padding: 0;
}

.logo-image {
  max-width: 200px;
  margin: 1rem 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .look-row {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 569px) {
  .look-container {
    height: 100vh;
  }
  .look-row {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .logo-image {
    max-width: 150px;
    margin: 1rem 1rem;
  }

  .look-tag-line {
    margin-bottom: 2rem;
  }

  .look-column-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
  }

  .look-svg {
    max-width: 300px;
  }

  .look-column-two {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Testimonial Container */
.testimonial-container {
  background: rgb(255, 235, 156);
  background-image: linear-gradient(
    124deg,
    #fff 49%,
    #ffeb9c 47%,
    #ffeb9c 69%,
    #545454 66%,
    #545453 57%,
    #545454 73%,
    #ffeb9c 66%,
    #ffeb9c 77%,
    #fff 37%
  );
}

@media screen and (min-width: 1060px) {
  .testimonial-container {
    height: 100vh;
  }
  .second-testimonial {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .testimonial-svg {
    max-width: 300px;
  }
  .testimonial-col-two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .testimonial-container {
    background: rgb(255, 235, 156);
    background-image: linear-gradient(
      143deg,
      #fff 61%,
      #ffeb9c 57%,
      #ffeb9c 71%,
      #545454 71%,
      #545453 64%,
      #545454 72%,
      #ffeb9c 71%,
      #ffeb9c 75%,
      #fff 37%
    );
  }
}

.first-testimonial-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-testimonial {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.clear {
  clear: both;
}

.testimonial-photo {
  height: 120px;
  width: 100px;
  border-radius: 100%;
  float: left;
  margin-right: 2rem;
  border: 5px solid #ffeb9c;
}

.testimonial-text {
  display: inline;
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

.testimonial-text-two {
  display: inline;
  font-family: 'Merriweather', serif;
  font-size: 1.1rem;
  line-height: 2rem;
}

.second-testimonial {
  padding: 1.1rem;
}

.testimonial-photo-two {
  height: 120px;
  width: 100px;
  border-radius: 100%;
  float: right;
  margin-left: 2rem;
  border: 5px solid white;
}

.testimonial-name {
  text-align: right;
  font-family: 'Merriweather', serif;
}

/* Team Container */
.team-container {
  background: rgb(255, 235, 156);
  background: linear-gradient(
    69deg,
    rgba(255, 235, 156, 1) 24%,
    rgba(255, 255, 255, 1) 24%
  );
  /* height: 100vh; */
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#svg-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2rem;
}

.team-photo-text {
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2rem;
}

.team-col-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-col-two img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-top: 1rem;
  border: 5px solid #ffeb9c
}

@media screen and (max-width: 991px) {
  .team-svg {
    max-width: 300px;
  }

  #photo-one {
    max-width: 600px;
  }
}

@media screen and (max-width: 950px) {
  #team-photo-text {
    display: flex;
    justify-content: center;
  }

  #photo-one {
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* .team-col-two {
    display: flex;
    justify-content: center;
  } */

  #photo-one {
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }
}

/* Footer */
footer {
  background-color: #ffeb9c;
}

.text-muted {
  color: #545454 !important;
}

.agency {
  display: block;
  text-decoration: none;
  color: #ad994a;
}

.agency:hover {
  color: #ad994a;
}
